<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client.zh-Hant" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core.zh-Hant" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost.zh-Hant" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.5.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Jwt" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net461" />
  <package id="TEC_Core_Library" version="1.2.50" targetFramework="net461" />
  <package id="TEC_Core_Scheduler_Library" version="1.0.35" targetFramework="net461" />
  <package id="TEC_Core_Transaction_Library" version="1.0.24" targetFramework="net461" />
  <package id="TEC_Core_Util" version="1.0.43" targetFramework="net461" />
  <package id="TEC_Core_Web_Library" version="1.0.51" targetFramework="net461" />
  <package id="TEC_Core_Web_WebApi_Common_Library" version="1.0.25" targetFramework="net461" />
  <package id="TEC_Core_Web_WebApi_Library" version="1.0.41" targetFramework="net461" />
  <package id="TEC_Internal_Utils_WebApi" version="1.2.8" targetFramework="net461" />
  <package id="TimePeriodLibrary.NET" version="2.1.1" targetFramework="net461" />
</packages>