<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc.zh-Hant" version="5.2.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor.zh-Hant" version="3.2.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages.zh-Hant" version="3.2.4" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.17.1" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.1" targetFramework="net46" />
  <package id="TEC_Core_Library" version="1.2.49" targetFramework="net46" />
  <package id="TEC_Core_Scheduler_Library" version="1.0.35" targetFramework="net46" />
  <package id="TEC_Core_Transaction_Library" version="1.0.24" targetFramework="net46" />
  <package id="TEC_Core_Util" version="1.0.43" targetFramework="net46" />
  <package id="TEC_Core_Web_Library" version="1.0.51" targetFramework="net46" />
  <package id="TEC_Core_Web_Mvc_Library" version="1.0.28" targetFramework="net46" />
  <package id="TEC_Internal_Utils_Mvc" version="1.0.82" targetFramework="net46" />
  <package id="TimePeriodLibrary.NET" version="2.1.1" targetFramework="net46" />
</packages>